.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDataTmp
Bin Model.rds
DNABinModel.rds
RNABinModel.rds
BinModel_Scaled.rds
core
VectorBinModel.rds
NVectorBinModel.rds
AllSims.Rdata
AllPredDegree.Rdata
DNAGAM.rds
SubModelGenData.Rdata
SubModels.Rdata