ModelValidation.Rdata
GAMValidation.rds
KnownSimGraphs.Rdata
KnownNetworkStats.Rdata
AllPredList.Rdata
AllSims.Rdata
AllSimGs.Rdata
SaveDevList.Rdata
AllNetworkStats.Rdata
AllPredictions1b.Rdata
AllSums.Rdata
BAMList.Rdata
BAMList2.Rdata
DevList.Rdata
Finaldf.Rdata
FitList.Rdata
FullRangedf.Rdata
GridDegree.Rdata
GridDegree2.Rdata
GridDegree4.Rdata
GridDegreeSum2.Rdata
GridDegreeSum4.Rdata
Panth1.Rdata
SubSums.Rdata
TensorDevList.Rdata
TryFitList.Rdata
TryList.Rdata
ValidSummary.Rdata
hComboList.Rdata
